
//Default styles

input, textarea, label {
  display: block;
  background: inherit;
}
input, textarea {
  border: 1px solid $purple;
  width: 100%;
  padding: 8px 14px;
  color: $grey;
  background: $purpleDark;
  font-size: 14px;
}
label {
  text-transform: uppercase;
  font-size: 12px;
}
input:focus, textarea:focus {
  outline-color: $purpleLight;
}

//Login page form

#login-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  .login-form-wrapper {
    max-width: 430px;
    width: 100%;
    background: $purpleMedium;
    min-height: 300px;
    #login-form {
      padding: 10px 30px;
      label {
        color: $white;
        margin: 0 0 10px 0;
      }
      .login-form-group {
        margin: 20px 0;
      }
      .login-form-header {
        background: $purple;
        color: $white;
        padding: 15px;
        text-align: center;
      }
    }
    .login-form-header {
      background: $purple;
      color: $white;
      padding: 15px;
      text-align: center;
    }
  }
}

//Helper class edit

input.warning {
  color: $grey;
  outline-color: $red;
  border-color: $red;
}

//Media 

@media screen and (max-width: 460px) {
  .login-form-wrapper {
    margin: 0 15px;
  }
}