
//Basic styles
* {box-sizing: border-box;}
img {display: block;}
a {text-decoration: none; color: inherit;}
body {
  background: $white;
}
main {
  margin: 50px 0 0 250px; 
  background: $white;
  padding: 25px;
}
.overlay {
  display: none;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes show {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}


//Login page

#login-page {
  width: 100%;
  height: 100%;
}
#login-page-header {
  width: 100%;
  padding: 50px 0;
  img {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
}

//media 

@media screen and (max-width: 768px) {
  main {
    margin: 50px 0 0 0;
    padding: 25px 15px;
  }
}

//Panel tiles 

.panel-tile {
  background: $purpleMedium;
  color: $grey;
  max-width: 400px;
  width: 100%;
  .panel-header {
    padding: 15px;
    background: $purpleLight;
    h3 {
      color: $white;
    }
  }
  .panel-body {
    padding: 15px 20px;
    font-size: 14px;
  }
}

//Tasks Header board

.board {

  width: 100%;
  max-width: 800px;
  color: $purpleDark;
  font-size: 12px;
}
.board-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.board-name {
  font-size: 20px;
}
.board-settings {
  button {
    color: $purple;
    font-size: 14px;
    padding: 5px;
    transition: color 0.5s;
    &:hover {
      cursor: pointer;
      color: $purpleLight;
    }
  }
}
.fa-sort {
  position: relative;
}
.fa-sort .sort-list {
  position: absolute;
  left: -50px;
  top: 34px;
  background: $white;
  min-width: 200px;
  display: none;
  text-align: left;
  outline: none;
  li {
    padding: 10px;
  }
  &.active {
    display: block;
  }
}


