
//Basic styles
* {box-sizing: border-box;}
img {display: block;}
a {text-decoration: none; color: inherit;}
body {background: $white;}
main {
  margin: 50px 0 0 250px; 
  background: $white;
  padding: 25px;
}

//Login page

#login-page {
  width: 100%;
  height: 100%;
}
#login-page-header {
  width: 100%;
  padding: 50px 0;
  img {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
}

//media 

@media screen and (max-width: 768px) {
  main {
    margin: 50px 0 0 0;
    padding: 25px 15px;
  }
}

//Panel tiles 

.panel-tile {
  background: $purpleMedium;
  color: $grey;
  max-width: 400px;
  width: 100%;
  .panel-header {
    padding: 15px;
    background: $purpleLight;
    h3 {
      color: $white;
    }
  }
  .panel-body {
    padding: 15px 20px;
    font-size: 14px;
  }
}

//Tasks Header board

.board {

  width: 100%;
  max-width: 800px;
  color: $purpleDark;
  font-size: 12px;
}
.board-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.board-name {
  font-size: 20px;
}
.board-settings {
  button {
    color: $purple;
    font-size: 14px;
    padding: 5px;
    transition: color 0.5s;
    &:hover {
      cursor: pointer;
      color: $purpleLight;
    }
  }
}
.fa-sort {
  position: relative;
}
.fa-sort .sort-list {
  position: absolute;
  left: -50px;
  top: 34px;
  background: $white;
  min-width: 200px;
  display: none;
  text-align: left;
  outline: none;
  li {
    padding: 10px;
  }
  &.active {
    display: block;
  }
}

//Task item

.task-item {
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.10);
  margin: 10px 0;
}
.task-item-box {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.task-item input[type="checkbox"] {
  display: none;
}
.task-item label {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid $purpleLight;
  margin: 0 10px;
  transition: background 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-item input[type="checkbox"]:checked + label {
  background: $purpleLight;
  span {
    opacity: 1;
    color: $white;
  }
}
.task-item label span {
  font-size: 9px;
  opacity: 0;
  transition: opacity 0.5s;
}
.task-item label:hover {
  cursor: pointer;
  span {
    opacity: 1;
  }
}
.task-description {
  padding: 0 10px 0 0;
}
.task-description.checked {
  text-decoration: line-through;
}

.task-item-box.hidden {
  display: none;
}
.task-item-edit {
  display: none;
  padding: 20px;
  .task-item-edit-input {
    margin: 0 0 10px 0;
  }
  .task-item-edit-buttons {
    display: flex;
  }
}
.task-item-edit.visible {
  display: block;
}

//Task item add 

.task-item-add {
  display: none;
  padding: 0 20px;
}
.task-item-add-input {
  margin: 0 0 10px 0;
}


//Add task & edit task

.add-task {
  padding: 20px 0;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.10);
  margin: 10px 0;
}
.task-item-add.visible {
  display: block;
}
.btn-task-item.hidden {
  display: none;
}

.add-task .task-item-edit {
  display: block;;
}
.add-task button:nth-child(2), .task-item-edit button:nth-child(2) {
  margin: 0 0 0 10px;
}
.btn-item-edit-buttons {
  position: relative;
}
.task-item-edit-buttons .btn-delete {
  position: absolute;
  right: 45px;
}