
//Navigation 

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: $purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-logo {
  height: 100%;
  img {
    height: 100%;
    width: auto;
  }
}

//Navigation user panel

.navigation-user-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 15px;
  color: $white;
  min-width: 180px;
  z-index: 5;
  &:hover {
    background: $purpleLight;
    cursor: pointer;
  }
  .fa {
    font-size: 15px;
    transition: transform 0.5s;
    &.active {
      transform: rotate(180deg);
    }
  }
}
.navigation-user-avatar {
  height: 100%;
  display: flex;
  align-items: center;
  img {
    height: 30px;
    width: 30px;
  }
}
.navigation-user-info {
  color: $white;
  font-size: 14px;
  padding: 0 15px;
}

//Navigation user panel settings list

.navigation-user-settings {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 100%;
  width: 100%;
  background: $purpleMedium;
  padding: 15px 0;
  display: none;
  &.active {
    display: block;
  }
}
.navigation-user-list {
  & li a {
    display: flex;
    font-size: 13px;
    padding: 5px 15px;
    color: $grey;
    &:hover {
      background: $purple;
    }
    .fa {
      padding: 0 10px 0 0;
      font-size: 13px;
    }
  }
}

//Navigation menu 

.navigation-menu {
  position: fixed;
  left: 0;
  top: 50px;
  width: 250px;
  height: calc( 100% - 50px );
  background: $purpleXD;
  border-right: 1px solid $purple;
  transform: translate3d(0,0,0);
  transition: transform 0.5s;
}
.navigation-menu-header {
  color: $white;
  padding: 15px 10px;
  border-bottom: 1px solid $purple;
}
.navigation-menu-list li a {
  display: flex;
  padding: 10px 12px;
  color: $grey;
  .fa {
    padding: 0 10px 0 0;
  }
  &:hover {
    background: $purple;
  }
}
.navigation-menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 15px;
  width: 100%;
  text-align: center;
  color: $grey;
  a {
    color: $purpleLight;
  }
}
.navigation-menu.active {
  transform: translate3d(0,0,0);
}

//Navigation button 

.navigation-button {
  width: 28px;
  height: 27px;
  position: absolute;
  left: 90px;
  padding: 0;
  display: none;
  span {
    width: 100%;
    height: 2px;
    background: $white;
    display: block;
    transition: 0.5s;
    position: absolute;
    &:nth-child(1) {
      top: 3px;
    }
    &:nth-child(2) {
      top: 13px;
    }
    &:nth-child(3) {
      top: 22px;
    }
  }
}
.navigation-button.active span {
  &:nth-child(1) {
    transform: rotate(-45deg);
    transform-origin: left center;
    top: 20px;
    left: 5px;
  }
  &:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  &:nth-child(3) {
    transform: rotate(45deg);
    transform-origin: left center;
    top: 1px;
    left: 5px;
  }
}


//Media 

@media screen and (max-width: 768px) {
  .navigation-menu {
    transform: translate3d(-250px,0,0);
  }
  .navigation-button {
    display: block;
  }
}