//Colors 
$white: #e9e6e1;
$purple: #392e5c;
$purpleLight:#6441a4;
$purpleMedium: #201c2b;
$purpleDark: #17141f;

//Basic styles

* {box-sizing: border-box;}
img {display: block;}
a {text-decoration: none; color: inherit;}